@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.list{
    display: none;
}
.bar{
    margin-top: 10px;
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0%;
    height: 40px;
    background: none;
    transition: .4s;

}
.bar button:active{
    background: none;
}
.bar button:hover{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 3px;
    transition: .4s;
}
.topic button:hover{
    width: 150px;
    transition: all .4s;
    }

.bar button{
    background: none;
    border: none;
    width: 135px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.bd{
    border: #ffffff;
    height: 47px;
    background: #612378;
    width: 100%;
    border-style: solid;
    padding-top: 5px;
    text-align: right;
    display: block;
    z-index: 2;
}

body {
    background-color: #661080;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
}

nav{
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1500px;
    padding-right: 20px;
}

h5{
    display: none;
}

input {
    display: none;
    margin-left: -8rem;
}
nav ul{
    display: flex;
    list-style: none;
    width: 260px;
    justify-content: space-between;
    /* padding-left: 200px; */
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.logo{ 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo h1{
    color: #ffffff;
    font-size: 87px;
}

.header-content p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

div .pum{
    align-items: center;
}

.pum{
    align-items: center;
    text-align: center;
    margin-top: 15px;
    color: #661080;
    background: #ffffff;
    width: 10%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 1rem;
}

.pum a {
    text-decoration: none;
}

.hr {
    padding-top: 0.5rem;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
}

.img {
    width: 400px;
}

.img img {
    width: 100%;
    margin-left: -300px;
    margin-top: 200px;

}

.hr-c {
    width: 650px;
    /* border: 1px solid red; */
    margin-left: 200px;
    margin-top: 100px;
}

.hr-c h3 {
    font-size: 50px;
    color: #ffffff;
}

.hr-c p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 22px;
}

.rt {
    margin-top: 9rem;
    margin-bottom: 2.5rem;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
}

.rc {
    display: flex;
    justify-content: space-between;
    
}

.rc img {
    border-radius: 50%;
    align-items: center;
    margin-left: 6.5rem;
    /* width: 50%; */
    /* height: 70%; */
}
.rc h4 {
    text-align: center;
    width: 600px;
    color: #ffffff;
    font-size: 30px;
    padding-top: 25px;
}

.rc p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    /* border:  greenyellow solid 1px; */
    width: 500xp;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.con-main {
    /* border: green solid 1px; */
    padding-top: 150px;
    padding-bottom: 100px;
    align-items: center;
}

.c-info {
    padding-top: 0.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* border: greenyellow 1px solid; */
    width: 1800px;
}

.info{
    margin-right: 200PX;
}

.info h3 {
    font-size: 50px;
    color: #ffffff;
}
.info p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    /* text-decoration: none; */
}

.info a {
    text-decoration: none;
    color: #ffffff;
}

.map img {
    width: 45%;
    margin-left: 500px;
    /* margin-right: 300px; */
    /* margin-top: 200px; */
}

@media screen and (max-width: 600px) {
    .container{
        max-width: 650px;
        margin: 0 auto;
    }
    
    nav {
        height: 50px;
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 250px;
    }

    .pum{
        align-items: center;
        text-align: center;
        margin-top: 15px;
        color: #661080;
        background: #ffffff;
        width: 20%;
        display: block;
        margin: 10px auto;
        font-size: 20px;
        padding: 1rem;
        cursor: pointer;
    }

    .img {
        margin-top: -20rem;
        align-items: center;
        margin-right: -4rem;
        width: 400px;
    }

    .img img {
        width: 150%;
    }

    .hr-c h3 {
        font-size: 50px;
        color: #ffffff;
        margin-top: 34rem;
        text-align: left;
    }

    .hr-c {
        width: 650px;
        /* border: 1px solid red; */
        margin-left: 50px;
        margin-top: 100px;
        line-height: 30px;
    }

    .rc {
        display: flex;
        /* justify-content: space-between; */
        
    }

    .review2 {
        margin-top: 40rem;
        margin-left: -37rem;
    }

    .review3 {
        margin-top: 80rem;
        margin-left: -37rem;
    }

    .c-info {
        padding-top: 0.5rem;
        text-align: left;
        /* display: flex; */
        /* justify-content: space-between; */
        /* border: greenyellow 1px solid; */
        width: 600px;
        height: auto;
    }

    .info{
        margin-left: -4rem;
    }
    
    .info h3 {
        font-size: 40px;
        color: #ffffff;
        /* border: greenyellow 1px solid; */
        width: 450px;
    }
    .info p {
        color: #ffffff;
        margin-top: 10px;
        font-size: 18px;
        /* text-decoration: none; */
    }
    
    .info a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .map img {
        width: 400%;
        margin-left: 100px;
        /* margin-right: 300px; */
        margin-top: 350px;
    }

    .bd {
        border: #ffffff;
        height: 47px;
        background: #612378;
        width: 100%;
        border-style: solid;
        padding-top: 5px;
        text-align: right;
        display: block;
        z-index: 2;
    }

    .bd i {
        font-size: 25px;
        margin-right: 8px;
        border: #ffffff;
        border-style: solid;
        width: 35px;
        height: 30px;
        text-align: center;
        padding-top: 1px;
        border-radius: 10px;
        transition: .3s;
        z-index: 3;
        color: #ffffff;
    }

    .bar {
        position: absolute;
        width: 100%;
        text-align: center;
        top: -50%;
        height: 40px;
        background: #661080;
        transition: .6s;

    }

    .bar button {
        width: 20%;
        font-family: 'Chakra Petch', sans-serif;
        height: 40px;
        font-size: 15px;
        outline: none;
        cursor: pointer;
        border: none;
    }

    .about,
    .block,
    .book {
        color: #000000;
    }

    .bd a:hover .bar {
        top: 58px;
    }

    .list:hover .bar {
        padding-top: 50px;
    }
}