@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #661080;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
}

nav{
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1500px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 260px;
    justify-content: space-between;
    /* padding-left: 200px; */
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.logo{ 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo h1{
    color: #ffffff;
    font-size: 87px;
}

.header-content p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

div .pum{
    align-items: center;
}

.pum{
    align-items: center;
    text-align: center;
    margin-top: 15px;
    color: #661080;
    background: #ffffff;
    width: 10%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 1rem;
}

.pum a {
    text-decoration: none;
}

.hr {
    padding-top: 0.5rem;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
}

.img {
    width: 400px;
}

.img img {
    width: 100%;
    margin-left: -300px;
    margin-top: 200px;

}

.hr-c {
    width: 650px;
    /* border: 1px solid red; */
    margin-left: 200px;
    margin-top: 100px;
}

.hr-c h3 {
    font-size: 50px;
    color: #ffffff;
}

.hr-c p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 22px;
}

.rt {
    margin-top: 9rem;
    margin-bottom: 2.5rem;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
}

.rc {
    display: flex;
    justify-content: space-between;
    
}

.rc img {
    border-radius: 50%;
    align-items: center;
    margin-left: 6.5rem;
    /* width: 50%; */
    /* height: 70%; */
}
.rc h4 {
    text-align: center;
    width: 600px;
    color: #ffffff;
    font-size: 30px;
    padding-top: 25px;
}

.rc p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    /* border:  greenyellow solid 1px; */
    width: 500xp;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.con-main {
    /* border: green solid 1px; */
    padding-top: 150px;
    padding-bottom: 100px;
    align-items: center;
}

.c-info {
    padding-top: 0.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* border: greenyellow 1px solid; */
    width: 1800px;
}

.info{
    margin-right: 200PX;
}

.info h3 {
    font-size: 50px;
    color: #ffffff;
}
.info p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    /* text-decoration: none; */
}

.info a {
    text-decoration: none;
    color: #ffffff;
}

.map img {
    width: 45%;
    margin-left: 500px;
    /* margin-right: 300px; */
    /* margin-top: 200px; */
}
